{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="common_style">
    <section class="study-materials">
        <div class ="row">
            <div class = "col-md-6">
                <div class ="download_contents-box">
                    <h1> Coming Soon</h1>                    
                </div>
            </div>
            <div class ="col-md-4">
            <div>
                <img src="{% static 'assets/images/comingsoon.png' %}" alt="" class="img-fluid">
            </div>
            </div>
            
        </div>       
    
    </section>
</div>
{% endblock content %}



