{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact_section ">
      <div class="jumbotron-fluid jumbo_contact">
        <div class ="container">
        <div class ="row">
          <div class ="col-md-6">
            <div class="d-flex justify-content-center d-md-block">
              <h2>
                Register Now
              </h2>
            </div>
            <form action="">
              <div class="contact_form-container">
                {% csrf_token %}
                <div>
                  
                  {{leads}}
                  <div class="mt-5">
                    <button type="submit">
                      send
                    </button>
                                     
                  </div>
                </div>
      
              </div>
      
            </form>
          </div>
          <div  class ="col-md-6">
            <div class="contact_img-box">
              <img src="{% static 'assets/images/students.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
{% endblock content %}
