{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="common_style">
    <section class="study-materials">
        <div class ="row">
            <div class = "col-md-6">
                <div class ="download_contents-box">
                    <p> Test content</p>                    
                </div>
            </div>
            <div class ="col-md-6">
            <p> Test block 2</p>
            </div>
            
        </div>       
    
    </section>
</div>
{% endblock content %}



