{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="common_style">
    <section class="study-materials">
        <div class ="row">
            <div class = "col-md-4">
                <div class ="download_contents-box">
                    <p> Updates coming soon</p>                    
                </div>
            </div>
            <div class ="col-md-8">
                <img src="{% static 'assets/images/comingsoon.jpg' %}" alt="">
            </div>
            
        </div>       
    
    </section>
</div>

{% endblock content %}




